<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>视觉标准-填写</title>
    <link href="../css/fontawesome-all.css" type="text/css" rel="stylesheet" />
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .standard-container .side-structure{
            margin: 24px 0;
        }
        .ui-demo01-button .button-list .name{
            margin-top: 12px;
        }
        .standard-container .ui-demo01-color .input-color .color-prefix{
            top: 6px;
        }
    </style>
</head>

<body>
<header class="header-white header-fixed">
  <div class="top-nav">
      <div class="nav-left"><a href="ui01-preview.html"><span class="fas fa-angle-left"></span>返回</a></div>
      <div class="nav-right">
        <button class="waves-effect waves-light btn yellow darken-2 j-goGeneratePage" onclick='page.savePageData()'>预览页面</button>
      </div>
  </div>
</header>
    <div class="main-wrap">
        <div class="g-wrap">
            <div class="left-side left-side-fixed">
                <ul class="section table-of-contents left-menu" style="margin-top: 86px;">

                </ul>
                <script type="text/html" id="leftMenu-tpl">
                    {{each $data.modules val}}
                        {{if val.key}}
                        <li><a href="#{{$index}}" class="{{if $index == 'cover'}}active{{/if}}">{{val.title}}</a></li>
                        {{/if}}
                    {{/each}}
                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header active">回收站(<span id="recycle-box">{{$data.recyleCount}}</span>)</div>
                        {{each $data.modules val}}
                            {{if !val.key}}
                          <div class="collapsible-body">
                              <span class="restore-tit">{{val.title}}</span>
                              <span class="restore-btn"><button class="btn btn-submini btn-white-border j-restore" data-pageid="{{$index}}">恢复</button></span>
                              <div class="clearfix"></div>
                          </div>
                            {{/if}}
                        {{/each}}
                        </li>
                      </ul>
                </script>
            </div>
            <div class="right-side">
                <div class="standard-container f-noBorder">
                </div>
                <script type="text/html" id="standardPages-tpl">
                    <!-- a page start -->
                    <div id="cover" class="section scrollspy {{if !modules.cover.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">封面</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border ui-demo01-cover" style="background-color:#{{modules.cover.background}}">
                            <div class="input-field input-color" style="width: 624px">
                                <span>输入色值：</span>
                                <span class="color-prefix">#</span>
                                <input class="validate" type="text" placeholder="推荐输入主色调" name="background" maxlength="6" value="{{modules.cover.background}}" data-modal="modules.cover.background">
                            </div>
                            <div class="input-field" style="width: 624px">
                                <span>输入标题：</span>
                                <input class="validate" type="text" placeholder="请输入标题" name="headline" maxlength="20" value="{{modules.cover.headline}}" data-modal="modules.cover.headline">
                            </div>
                            <div class="input-field" style="width: 624px">
                                <span>输入副标题：</span>
                                <input class="validate" type="text" placeholder="请输入副标题" name="subhead" maxlength="24" value="{{modules.cover.subhead}}" data-modal="modules.cover.subhead">
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
                    <div id="intro" class="section scrollspy {{if !modules.intro.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">前言</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border ui-demo01-intro">
                            <div class="intro valign-wrapper">前言</div>
                            <div class="info">
                                <div class="input-field" style="width: 480px;">
                                    <textarea class="materialize-textarea" data-modal="modules.intro.info">{{modules.intro.info | textareaFormat}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->

                    <!-- a page start -->
                    <div id="color" class="section scrollspy {{if !modules.color.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">标准色</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border page-twoPart ui-demo01-color">
                            <div class="title">
                                <div class="num"></div>
                                <div class="name">标准色
                                    <br>color</div>
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 60px"></th>
                                            <th style="width: 160px"></th>
                                            <th style="width: 100px">色值</th>
                                            <th>使用场景</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">重要</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.primary1}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.primary1" maxlength="6" value="{{modules.color.color.primary1}}" data-modal="modules.color.color.primary1">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.primary1" maxlength="24" value="{{modules.color.info.primary1}}" data-modal="modules.color.info.primary1">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.primary2}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.primary2" maxlength="6" value="{{modules.color.color.primary2}}" data-modal="modules.color.color.primary2">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.primary2" maxlength="24" value="{{modules.color.info.primary2}}" data-modal="modules.color.info.primary2">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 60px"></th>
                                            <th style="width: 160px"></th>
                                            <th style="width: 100px"> </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">辅色</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.minor1}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.minor1" maxlength="6" value="{{modules.color.color.minor1}}" data-modal="modules.color.color.minor1">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.minor1" maxlength="24" value="{{modules.color.info.minor1}}" data-modal="modules.color.info.minor1">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.minor2}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.minor2" maxlength="6" value="{{modules.color.color.minor2}}" data-modal="modules.color.color.minor2">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.minor2" maxlength="24" value="{{modules.color.info.minor2}}" data-modal="modules.color.info.minor2">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 60px"></th>
                                            <th style="width: 160px"></th>
                                            <th style="width: 100px"> </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="3">文字</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.font1}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.font1" maxlength="6" value="{{modules.color.color.font1}}" data-modal="modules.color.color.font1">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.font1" maxlength="24" value="{{modules.color.info.font1}}" data-modal="modules.color.info.font1">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="color-block" style="background-color: #{{modules.color.color.font2}}"></div>
                                            </td>
                                            <td>
                                                <div class="color-value">
                                                    <div class="input-field input-color" style="width: 64px;">
                                                        <span class="color-prefix">#</span>
                                                        <input class="validate" type="text" name="modules.color.color.font2" maxlength="6" value="{{modules.color.color.font2}}" data-modal="modules.color.color.font2">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color-info">
                                                    <div class="input-field">
                                                        <input class="validate" type="text" name="modules.color.info.font2" maxlength="24" value="{{modules.color.info.font2}}" data-modal="modules.color.info.font2">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
                    <div id="font" class="section scrollspy {{if !modules.font.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">标准字</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border page-twoPart ui-demo01-font">
                            <div class="title">
                                <div class="num"></div>
                                <div class="name">标准字
                                    <br>font</div>
                            </div>
                            <div class="content">
                                <!-- <div class="font-explan">{{modules.font.explan}}</div> -->
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 160px">样式</th>
                                            <th style="width: 60px">字号</th>
                                            <th>使用场景</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="font-size" style="font-size: {{modules.font.size1}}px">标准字</div>
                                            </td>
                                            <td>
                                                <div class="input-field" style="width: 20px;">
                                                    <input class="validate" type="text" name="modules.font.size1" maxlength="2" value="{{modules.font.size1}}" data-modal="modules.font.size1">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-field">
                                                    <input class="validate" type="text" name="modules.font.info1" maxlength="24" value="{{modules.font.info1}}" data-modal="modules.font.info1">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="font-size" style="font-size: {{modules.font.size2}}px">标准字</div>
                                            </td>
                                            <td>
                                                <div class="input-field" style="width: 20px;">
                                                    <input class="validate" type="text" name="modules.font.size2" maxlength="2" value="{{modules.font.size2}}" data-modal="modules.font.size2">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-field">
                                                    <input class="validate" type="text" name="modules.font.info2" maxlength="24" value="{{modules.font.info2}}" data-modal="modules.font.info2">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="font-size" style="font-size: {{modules.font.size3}}px">标准字</div>
                                            </td>
                                            <td>
                                                <div class="input-field" style="width: 20px;">
                                                    <input class="validate" type="text" name="modules.font.size3" maxlength="2" value="{{modules.font.size3}}" data-modal="modules.font.size3">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-field">
                                                    <input class="validate" type="text" name="modules.font.info3" maxlength="24" value="{{modules.font.info3}}" data-modal="modules.font.info3">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="font-size" style="font-size: {{modules.font.size4}}px">标准字</div>
                                            </td>
                                            <td>
                                                <div class="input-field" style="width: 20px;">
                                                    <input class="validate" type="text" name="modules.font.size4" maxlength="2" value="{{modules.font.size4}}" data-modal="modules.font.size4">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-field">
                                                    <input class="validate" type="text" name="modules.font.info4" maxlength="24" value="{{modules.font.info4}}" data-modal="modules.font.info4">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
                    <div id="button" class="section scrollspy {{if !modules.button.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">按钮</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border page-twoPart ui-demo01-button">
                            <div class="title">
                                <div class="num"></div>
                                <div class="name">按钮
                                    <br>button</div>
                            </div>
                            <div class="content">
                                <div class="ct-left">
                                    <div class="input-field input-color" style="width: 120px">
                                        <span>输入按钮背景色：</span>
                                        <span class="color-prefix">#</span>
                                        <input class="validate" type="text" name="modules.button.primary" maxlength="6" value="{{modules.button.primary}}" data-modal="modules.button.primary">
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">默认状态</div>
                                        <div class="detail">
                                            <div class="button-style" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">按下效果</div>
                                        <div class="detail f-pr">
                                            <div class="button-style" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                            <div class="button-cover-darken" style="border-radius: {{modules.button.radius}}px;"></div>
                                        </div>
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">禁用效果</div>
                                        <div class="detail f-pr">
                                            <div class="button-style" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                            <div class="button-cover-light" style="border-radius: {{modules.button.radius}}px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-right">
                                    <div class="input-field" style="width: 240px">
                                        <span>输入按钮圆角数值（方形数值为0）</span>
                                        <input class="validate" type="text" name="modules.button.radius" maxlength="2" value="{{modules.button.radius}}" data-modal="modules.button.radius">
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">超大尺寸</div>
                                        <div class="detail">
                                            <div class="button-style button-lg" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">正常尺寸</div>
                                        <div class="detail">
                                            <div class="button-style" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">较小尺寸</div>
                                        <div class="detail">
                                            <div class="button-style button-sm" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="side-structure">
                                        <div class="name">超小尺寸</div>
                                        <div class="detail">
                                            <div class="button-style button-xs" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-bottom">
                                    <div class="button-list">
                                       <div class="input-field input-color" style="width: 124px">
                                            <span >输入边框色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.button.default" maxlength="6" value="{{modules.button.default}}" data-modal="modules.button.default">
                                        </div>
                                        <div class="name">默认</div>
                                        <div class="detail">
                                            <div class="button-style" style="background-color: #fff;border-radius: {{modules.button.radius}}px;color: #{{modules.button.default}};border:1px solid #{{modules.button.default}};">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="button-list">
                                        <div class="input-field input-color" style="width: 124px">
                                            <span >输入背景色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.button.primary" maxlength="6" value="{{modules.button.primary}}" data-modal="modules.button.primary">
                                        </div>
                                        <div class="name">主要</div>
                                        <div class="detail">
                                            <div class="button-style" style="background-color: #{{modules.button.primary}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="button-list">
                                        <div class="input-field input-color" style="width: 124px">
                                            <span >输入背景色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.button.success" maxlength="6" value="{{modules.button.success}}" data-modal="modules.button.success">
                                        </div>
                                        <div class="name">成功</div>
                                        <div class="detail">
                                            <div class="button-style " style="background-color: #{{modules.button.success}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                    <div class="button-list">
                                       <div class="input-field input-color" style="width: 124px">
                                            <span >输入背景色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.button.danger" maxlength="6" value="{{modules.button.danger}}" data-modal="modules.button.danger">
                                        </div>
                                        <div class="name">危险</div>
                                        <div class="detail">
                                            <div class="button-style" style="background-color: #{{modules.button.danger}};border-radius: {{modules.button.radius}}px;">按钮 BUTTON</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
                    <div id="input" class="section scrollspy {{if !modules.input.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">输入框</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border page-twoPart ui-demo01-input">
                            <div class="title">
                                <div class="num"></div>
                                <div class="name">输入框
                                    <br>input</div>
                            </div>
                            <div class="content">
                                <div class="ct-bottom">
                                    <div class="input-list">
                                        <div class="input-field input-color" style="width: 180px">
                                            <span >输入框激活状态边框颜色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.input.success" maxlength="6" value="{{modules.input.success}}" data-modal="modules.input.success">
                                        </div>
                                    </div>
                                    <div class="input-list">
                                        <div class="input-field input-color" style="width: 180px">
                                            <span >输入框错误状态边框颜色：</span>
                                            <span class="color-prefix">#</span>
                                            <input class="validate" type="text" name="modules.input.danger" maxlength="6" value="{{modules.input.danger}}" data-modal="modules.input.danger">
                                        </div>
                                    </div>
                                    <div class="input-list">
                                        <div class="input-field" style="width: 240px">
                                            <span>输入框圆角数值（方形数值为0）</span>
                                            <input class="validate" type="text" name="modules.input.radius" maxlength="2" value="{{modules.input.radius}}" data-modal="modules.input.radius">
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-left">
                                    <div class="updown-structure" style="margin-bottom:45px;">
                                        <div class="name">未输入状态</div>
                                        <div class="detail">
                                            <div class="input-status" style="border-radius: {{modules.input.radius}}px;">
                                                <span class="font-grey">请输入用户名</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="updown-structure">
                                        <div class="name">输入后状态</div>
                                        <div class="detail">
                                            <div class="input-status" style="border-radius: {{modules.input.radius}}px;">
                                                讯飞UED
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-right">
                                    <div class="updown-structure">
                                        <div class="name">激活状态</div>
                                        <div class="detail">
                                            <div class="input-status" style="border-radius: {{modules.input.radius}}px;border:1px solid #{{modules.input.success}}"></div>
                                            <div class="verify-status" style="color: #{{modules.input.success}};">最多可以填写12个字符。</div>
                                        </div>
                                    </div>
                                    <div class="updown-structure">
                                        <div class="name">错误状态</div>
                                        <div class="detail">
                                            <div class="input-status" style="border-radius: {{modules.input.radius}}px;border:1px solid #{{modules.input.danger}}"></div>
                                            <div class="verify-status" style="color: #{{modules.input.danger}};">请输入正确的格式！</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-bottom">
                                    <div class="updown-structure">
                                        <div class="name">多行输入框</div>
                                        <div class="detail">
                                            <div class="textarea-status" style="border-radius: {{modules.input.radius}}px;">
                                                <div class="counter">0/50</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
                    <div id="select" class="section scrollspy {{if !modules.select.key}}hide{{/if}}">
                        <div class="pages-title">
                            <div class="name">下拉选择</div>
                            <div class="button">
                                <button class="btn btn-white-border j-rmpage">移去此页</button>
                            </div>
                        </div>
                        <div class="pages pages-border page-twoPart ui-demo01-select">
                            <div class="title">
                                <div class="num"></div>
                                <div class="name">下拉选择
                                    <br>select</div>
                            </div>
                            <div class="content">
                                <div class="ct-left" style="margin-top: 40px">
                                    <div class="input-field" style="width: 240px">
                                        <span>输入按钮圆角数值（方形数值为0）</span>
                                        <input class="validate" type="text" name="modules.select.radius" maxlength="2" value="{{modules.select.radius}}" data-modal="modules.select.radius">
                                    </div>
                                    <div class="input-field input-color" style="width: 230px">
                                        <span >输入选中颜色：</span>
                                        <span class="color-prefix">#</span>
                                        <input class="validate" type="text" name="modules.select.active" maxlength="6" value="{{modules.select.active}}" data-modal="modules.select.active">
                                    </div>
                                </div>
                                <div class="ct-right" style="margin-top: 40px">
                                    <div class="updown-structure">
                                        <div class="name">普通状态</div>
                                        <div class="detail">
                                            <div class="select-box" style="border-radius: {{modules.select.radius}}px;">请选择省份
                                                <i class="right fas fa-angle-down" style="margin-top: 8px;color: #78909c"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="updown-structure">
                                        <div class="name">展开状态</div>
                                        <div class="detail">
                                            <div class="select-box" style="border-radius: {{modules.select.radius}}px">请选择省份
                                                <i class="right fas fa-angle-up" style="margin-top: 8px;color: #78909c"></i>
                                            </div>
                                            <div class="select-fold" style="border-radius: {{modules.select.radius}}px">
                                                <p style="background-color:#{{modules.select.active}};color:#fff">北京</p>
                                                <p>上海</p>
                                                <p>广东</p>
                                                <p>安徽</p>
                                                <p>黑龙江</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- a page end -->
                    <!-- a page start -->
    
                    <div class="section scrollspy {{if recyleCount !== modulesCount}}hide{{/if}}">
                        <div class="pages pages-border ui-demo01-exception">
                            <div><img src="img/emoji01.gif"></div>
                            <h5>好像所有的页面都被你移除了噢～<br/>隔壁的回收站还可以恢复～</h5>
                        </div>
                    </div>
                    <!-- a page end -->
                </script>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="center-align">2018 © iFlyTek UED Team</div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/template-web.js"></script>
    <script src="../js/standard.js"></script>
    <script type="text/javascript">
    $(function() {
        page.init();
        propChange();
    }); 
    </script>
</body>

</html>