//font
$font-basic:#263238;//blue-grey darken-4
$font-grey:#455a64;//blue-grey darken-2
$font-secgrey:#78909c;//blue-grey lighten-1
$font-light:#b0bec5;//blue-grey lighten-3

//border
$border:#b0bec5;//blue-grey lighten-3
$border-light:#eceff1;//blue-grey lighten-5

//color
$color-primary:#fbc02d;//yellow darken-2
$color-primary-light:#fffde7;//yellow lighten-5
$color-success:#4caf50;//green
$color-success-light:#e8f5e9;//green lighten-5
$color-info:#42a5f5;//blue lighten-1
$color-info-light:#e3f2fd;//blue lighten-5
$color-danger:#ef5350;//red lighten-1
$color-danger-light:#ffebee;//red lighten-5