
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,figure,table,caption,th,td,form,input,button,textarea{margin:0;padding:0;}
html {
  font-family:"PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,sans-serif;
  color: $font-basic;
}
body{
  background:#fff;
  width: 100%;
  height: 100%;
  min-width: 1240px;
}
li{
  list-style:none;
}
a,a:hover{
  color:$font-basic;
}
/* reset scroll bar style */
::scrollbar {
  height: 4px;
  width: 4px; }

::scrollbar:hover {
  background-color: #ddd;
  border: none; }

::scrollbar-thumb {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1); }

::scrollbar-thumb:hover {
  background-color: #999; }

::scrollbar-track {
  background: rgba(255, 255, 255, 0.1); }